.root {
  --color-correct: green;
  --color-correct-final: lawngreen;
  --color-incorrect: red;
  --color-incorrect-final: rgb(168, 18, 18);
  & {
    font-size: 18px;
    width: 100%;
    max-width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li {
      width: 200px;
    }
  }
  span {
    &.correct {
      color: var(--color-correct);
    }
    &.incorrect {
      color: var(--color-incorrect);
    }
  }
  .correct {
    span.correct {
      color: var(--color-correct-final);
    }
  }
}
